
body{
    background-color:#DCF2EC;
  }

/*header{
    width: 100%;
    background: #f7f7c1;
    margin-bottom: 5px;
    overflow:hidden;
    height : 50px ; 
       
}*/
.hit-the-floor {
  color: rgba(26, 24, 24, 0.959);
  font-size: 2em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  }
  
  .hit-the-floor {
    text-align: center;
  }
  #result {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    display: none;
  }
  
  .valid {
    background-color:#2AA4BF;
  }
  
  .invalid {
    background-color: #B33650;
  }
   
form {
  width: 500px;
  margin: 0 auto;
  text-align: center;

}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 10px;
  border: 1px solid #003340
  
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #003340;
  color: #fff;
  border: none;
  cursor: pointer;
}

#response {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.valid {
  color:#2AA4BF;
}

.invalid {
  color: #B33650;
}
